@font-face {
		font-family: "star_avenueregular";
		src: url("fonts/Star Avenue.eot");
		src: url("fonts/Star Avenue.eot?#iefix") format("embedded-opentype"),
             url("fonts/Star Avenue.svg#star_avenueregular") format("svg"),
			 url("fonts/Star Avenue.woff") format("woff"),
			 url("fonts/Star Avenue.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
}

@font-face {
    font-family: "ubuntu-titletitle";
		src: url("fonts/ubuntu-title-webfont.eot");
		src: url("fonts/ubuntu-title-webfont.eot?#iefix") format("embedded-opentype"),
             url("fonts/ubuntu-ttle-webfont.svg#ubuntu-titletitle") format("svg"),
			 url("fonts/ubuntu-title-webfont.woff") format("woff"),
			 url("fonts/ubuntu-title-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
}

@font-face {
    font-family: "ubuntu-title-frtitle-fr";
  src: url("fonts/ubuntu-title-fr-1.1-webfont.eot");
  src: url("fonts/ubuntu-title-fr-1.1-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/ubuntu-title-fr-1.1-webfont.svg#ubuntu-title-frtitle-fr") format("svg"),
       url("fonts/ubuntu-title-fr-1.1-webfont.woff") format("woff"),
       url("fonts/ubuntu-title-fr-1.1-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
		font-family: "myriadprolight";
		src: url("fonts/MyriadPro-Light.eot");
		src: url("fonts/MyriadPro-Light.eot?#iefix") format("embedded-opentype"),
             url("fonts/MyriadPro-Light.svg#MyriadPro-Light") format("svg"),
			 url("fonts/MyriadPro-Light.woff") format("woff"),
			 url("fonts/MyriadPro-Light.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
}

@font-face {
    font-family: "swiss924_btregular";
    src: url("fonts/swiss_924_bt-webfont.eot");
    src: url("fonts/swiss_924_bt-webfont.eot?#iefix") format("embedded-opentype"),
		 url("fonts/swiss_924_bt-webfont.svg#swiss924_btregular") format("svg"),
         url("fonts/swiss_924_bt-webfont.woff") format("woff"),
         url("fonts/swiss_924_bt-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}