root { 
    display: block;
}

body {
	font-size: 16pt;
	line-height: 1.75em;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
	margin-bottom: 0.75em;
}

ul li{
    font-size: 18px;
}

#nav {
    margin: 1em 0 0 0;
}
#nav a {
	font-size: 60px;
    padding-right: 20px;
    padding-left: 20px;
}

#header {
	padding-top: 4px;
	padding-bottom: 22px;
}

#header_logo {
	margin-top: 32px;
}

#header_nav {
	padding-top: 24px;
	margin-top: 32px;
}
#footer {
	margin: 3em 0 1em 0;
}