root { 
    display: block;
}

body {
	background: #ecf0f1;
	color: #646363;
	font-family: "myriadprolight";
    background-image: url("../img/bg.png");	
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: bold;
}
#header {
    width: 100%;
 	text-align: center;
	background-image: url("../img/header-bg1.jpg");
	background-position-x: 50%;
	-webkit-box-shadow: 0px 4px 8px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 4px 8px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 4px 8px rgba(50, 50, 50, 0.75);
}

#container {
	padding-top: 250px;
}

#intro {
    width:auto;
}

ul li{
    list-style-image: url('../img/item.png');
    list-style-position: inside;
}

#clear{
    clear: both;
}

.ri {
	max-width: 80%;
}

@media screen and (orientation: portrait) {
  .ri { max-width: 90%; }
}
@media screen and (orientation: landscape) {
  .ri { max-height: 90%; }
}

#nav {
	text-align: center;
}
#nav a {
    color: #FFF;
	font-style: bold;
	text-decoration: none;
    font-family: 'ubuntu-title-frtitle-fr';
}

.box {
    background: #FFF;
	padding: 30px;
	margin-top: 50px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-box-shadow: 0px 0px 3px #000000;
    -webkit-box-shadow: 0px 0px 3px #000000;
    box-shadow: 0px 0px 3px #000000;
}

#adminlogin{
    text-align: center; 
}

.reveal-modal-bg { 
    position: fixed; 
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.8);
    z-index: 100;
    display: none;
    top: 0;
    left: 0; 
}

.reveal-modal {
    visibility: hidden;
    top: 100px; 
    left: 50%;
    margin-left: -300px;
    width: 520px;
    background: #eee url(modal-gloss.png) no-repeat -200px -80px;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -box-shadow: 0 0 10px rgba(0,0,0,.4);
}
    
.reveal-modal .close-reveal-modal {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    font-weight: bold;
    cursor: pointer;
} 

.img_integrante{
    max-width: 190px;
    max-height: 190px;
    border: black solid 1px;
}

#footer {
	color: #000;
	text-align: center;
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
}