body {
	font-size: 12.5pt;
	line-height: 1.5em;
}

h1 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.25em;
	margin-bottom: 0.5em;
}

section {
	padding-bottom: 2em;
}

#nav a {
	font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#footer {
	margin: 1em 0 1em 0;
}