body {
	background: #ecf0f1;
	color: #959595;
	font-family: "myriadprolight";
    background-image: url("../img/bg.png");	
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: bold;
}
#header {
 	text-align: center;
}

#intro {
    width:auto;
}

.ri {
	max-width: 80%;
}

@media screen and (orientation: portrait) {
  .ri { max-width: 90%; }
}
@media screen and (orientation: landscape) {
  .ri { max-height: 90%; }
}

#nav a {
    color: #fff;
	font-style: bold;
	text-decoration: none;
}
#nav {
	text-align: center;
}
#nav a {
    color: #7b7b7b;
    font-family: star_avenueregular;
}

#nav .ativo {
	color: #2b81c0;
    text-decoration: none;
}

#nav .mousehover {
    color: #b7b7b7;
}
.box {
    background: #ffffff;
    /*border-bottom: solid 2px #ccc;*/
	padding: 30px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 0px 3px #000000;
    -webkit-box-shadow: 0px 0px 3px #000000;
    box-shadow: 0px 0px 3px #000000;
    opacity: 0.80;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
    filter: alpha(opacity = 80);
}

#hero {
    color: #ffffff;
    font-family: "ubuntu-title-frtitle-fr";
	background-image: url(../img/bgintro.png);
    background-position-y: 50%;
    background-position-x: 50%;
	text-align: center;
}

#ubuntu{
    color: #DD4814;
}

#footer {
	color: #62696c;
	text-align: center;
}